main{
    display: flex;
    width: 83%;
    margin: 10px auto;
}
aside {
    width: 320px;
    padding: 15px;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #dddddd88;
    margin-right: 10px;
}
.filter-group {
    margin-bottom: 20px;
}
.filter-group h3 {
    font-size: 13px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.filter-group ul {
    list-style: none;
    padding: 0;
}
.filter-group li {
    margin-bottom: 10px;
    font-size: 13px;
}
.filter-group label {
    display: flex;
    align-items: center;
}
.filter-group input[type="checkbox"],
.filter-group input[type="radio"] {
    margin-right: 10px;
}
.price-range input[type="number"] {
    width: 80px;
    margin-right: 10px;
}
.filter-group.collapsible h3 {
    cursor: pointer;
}
.filter-group.collapsible .content {
    display: none;
}
.filter-group.collapsible.active .content {
    display: block;
}
figure{
    padding: 15px;
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px 1px #dddddd88;
}
figure .index-button a{
    text-decoration: none;
    color: rgb(112, 112, 112);
    font-size: 13px;
    &:hover{
        color: rgba(0, 0, 255, 0.842);
    }
}
figure .filter{
    font-weight: 500;
}
/* for phone item data */
#phoneItem{
    text-decoration: none;
    color: black;
    display: flex;
    &:hover h5{
        color: rgba(22, 22, 255, 0.842);
    }
}
#phoneItem #image-part{
    width: 250px;
    text-align: center;
    padding: 0px 20px;
    & img{
        width: 100%;
    }
}
#phoneItem #descriptionInfo{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
#phoneItem #descriptionInfo #rating{
    background-color: green;
    color: white;
    padding: 1px 5px 3px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: 500;
}
#phoneItem #descriptionInfo #ratings_reviews{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    color: #8a8a8a;
}
#phoneItem ul li{
    list-style-type: disc;
}
#phoneItem #productInfo{
    width: 650px;
    text-align: left;
}
#phoneItem #priceInfo{
    width: 350px;
    text-align: left;
    & #original_price{
        text-decoration: line-through;
        font-size: 15px;
        color: #868686;
    }
    & #discount{
        color: green;
        font-weight: 500;
        font-size: 13px;
    }
}
/* for top deal data */
.topDeal-box, .tvDeal-box{
    padding: 10px;
    margin: 8px;
    &:hover{
        box-shadow: 0px 0px 8px 1px rgba(206, 206, 206, 0.521);
    }
}
.topDeal-box #topDeal, .tvDeal-box #tvDeal, .furnitData-box #furnitData, .electroData-box #electroData{
    text-decoration: none;
    color: black;
}
#topDeal #image-part{
    width: 280px;
    height: 335px;
    display: flex;
    align-items: center;
    overflow: hidden;
    & img{
        width: 100%;
    }
}
.topDeal-box #topDeal #descInfo{
    padding: 6px 10px;
    & #sponsored{
        color: #cecece;
        font-size: 13px;
        font-weight: 500;
    }
    & #brand{
        color: #868686;
        font-size: 14px;
        margin-bottom: 3px;
    }
    & #name{
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
    }
    & #price{
        font-weight: 500;
        font-size: 17px;
    }
    & #original_price{
        color: #868686;
        font-size: 14px;
        text-decoration: line-through;
    }
    & #discount{
        color: green;
        font-size: 13px;
        font-weight: 500;
    }
}
/* for tv data */
.tvDeal-box #tvDeal #image-part{
    width: 280px;
    height: 335px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.tvDeal-box #tvDeal #descInfo, .furnitData-box #furnitData #descInfo, .electroData-box #electroData #descInfo{
    padding: 2px 4px;
    & #name{
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
    }
    & #rating{
        background-color: #26a541;
        color: white;
        padding: 1px 7px 3px;
        border-radius: 25px;
        font-size: 13px;
    }
    & #price{
        font-weight: 500;
        font-size: 17px;
    }
    & #original_price{
        color: #868686;
        font-size: 14px;
        text-decoration: line-through;
    }
    & #discount{
        font-weight: 500;
        font-size: 14px;
        color: green;
    }
    & #delivery_time{
        font-size: 13px;
    }
}
.tvDeal-box:hover h6, .furnitData-box:hover h6{
    color: rgba(22, 22, 255, 0.842);
}
/* for Furniture data */
.furnitData-box, .electroData-box{
    margin: 13px;
    padding-bottom: 10px;
    &:hover{
        box-shadow: 0px 0px 8px 1px rgba(206, 206, 206, 0.521);
    }
}
.furnitData-box #furnitData #image-part{
    width: 290px;
    height: 290px;
    padding: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.furnitData-box #furnitData #image-part img{
    width: 100%;
}
.furnitData-box #furnitData #descInfo, .electroData-box #electroData #descInfo{
    padding: 2px 15px;
}
/* for electronics data */
.electroData-box #electroData #image-part{
    width: 290px;
    height: 290px;
    padding: 15px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
/* media query for mobile phone */
@media(min-width: 300px) and (max-width: 480px){
    main{
        width: 100%;
    }
    main aside{
        display: none;
    }
    main figure{
        padding: 8px;
    }
    /* for phone item data */
    main figure #allDataBox #phoneItem{
        flex-wrap: wrap;
        & #descriptionInfo{
            flex-wrap: wrap;
            & ul{
                display: none;
            }
            & #name{
                margin-top: 10px;
                font-size: 15px;
            }
        }
    }
    main figure #allDataBox #phoneItem #descriptionInfo #priceInfo #price{
        margin-top: 10px;
        margin-bottom: 0%;
    }
    main figure #allDataBox #phoneItem #descriptionInfo #priceInfo #delivery_time{
        margin-bottom: 0%;
    }
    main figure #allDataBox #phoneItem #descriptionInfo #productInfo,
    main figure #allDataBox #phoneItem #descriptionInfo #priceInfo{
        width: 100%;
    }
    /* for top deal data */
    .topDeal-box, .tvDeal-box, .furnitData-box, .electroData-box{
        padding: 0%;
        margin: 0%;
    }
    .tvDeal-box #descInfo{
        margin-bottom: 10px;
    }
    /* for furniture data */
    .furnitData-box #furnitData #image-part,
    .electroData-box #electroData #image-part{
        padding: 5px 8px 5px 5px;
    }
    .furnitData-box #furnitData #descInfo,
    .electroData-box #electroData #descInfo{
        padding: 0px 7px;
        margin-bottom: 10px;
    }
}