.description-container{
    width: 75%;
    margin: 15px auto;
    padding: 15px;
    background-color: white;
}
.description-container .row .col-lg-5 #addButton{
    height: 9%;
    width: 50%;
    background-color: orange;
    border: none;
    margin-top: 15px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        box-shadow: 0px 1px 4px 0px rgba(165, 165, 165, 0.685);
    }
}
.description-container .row .col-lg-5{
    width: 500px;
    height: 580px;
}
.description-container .row .image-box{
    padding: 15px;
    width: 480px;
}
.description-container .row .image-box img{
    height: 450px;
}
.description-container .row .info-box #brand{
    color: #868686;
}
.description-container .row #rating{
    background-color: #26a541;
    color: white;
    padding: 1px 7px 2px;
    font-size: 14px;
    border-radius: 25px;
    font-weight: 500;
}
.description-container .row #ratings_reviews{
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
    color: #8a8a8a;
}
.description-container .row #priceInfo{
    margin-top: 15px;
    & #price{
        font-size: 28px;
        font-weight: 600;
    }
    & #original_price{
        text-decoration: line-through;
        font-size: 15px;
        color: #868686;
        margin: 0px 5px;
    }
    & #discount{
        color: #26a541;
        font-weight: 500;
        font-size: 14px;
    }
}
.description-container .row ul li{
    list-style-type: disc;
}
.description-container .row .offerItem::marker{
    content: "✅  ";
}
.description-container .row #offers{
    font-size: 17px;
}
.description-container .row .offerItem{
    font-size: 14px;
    & b{
        margin-left: 5px;
        font-weight: 600;
    }
}