*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: rgba(240, 240, 240, 0.774);
}
.header{
    box-shadow: 1px 1px 5px 1px #ddddddcc;
}
.header, .header .container{
    height: 65px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.header .flipkart-logo{
    width: 100px;
}
.header .flipkart-logo img{
    width: 100%;
}
.header .flipkart-search{
    width: 60%;
    background-color: #f0f5ff;
    border-radius: 8px;
}
.header .flipkart-search .ri-search-line{
    padding: 0px 10px;
    margin-top: 3px;
    font-size: 18px;
    color: gray;
}
.header .flipkart-search input{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 17px;
    background-color: transparent;
}
.header button{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: 'poppins';
    & i{
        color: black;
    }
    & a{
        text-decoration: none;
        color: black;
    }
}
.header .login-button button:hover a{
    color: white;
}
.header .login-button button:hover .user{
    color: white;
}
.header .cart-button button{
    position: relative;
}
.header .cart-button .badge{
    background-color: #ff6161;
    position: absolute;
    border-radius: 50%;
    left: 16%;
    top: 0%;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
}
footer{
    padding: 50px 40px 40px;
}
footer .footer{
    grid-template-columns: repeat(6, 1fr);
}
footer .footer h6{
    color: #878787;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}
footer .footer ul li{
    & a{
        color: white;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
footer .footer .contact-info p{
    color: white;
    font-size: 14px;
}
/* media query for mobile phone */
@media(min-width: 300px) and (max-width: 480px){
    .header{
        height: 95px;
    }
    .header .container{
        height: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        & .flipkart-logo{
            grid-column: 1 / span 2;
        }
        & .cart-button{
            grid-column: none;
        }
    }
    .header .seller-button, .header .cart-name{
        display: none;
    }
    .header .flipkart-search{
        width: 93%;
        display: none;
        position: absolute;
        top: 45px;
    }
    footer .footer{
        grid-template-columns: repeat(1, 1fr);
    }
    footer .footer ul{
        padding-left: 0%;
    }
}