*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: rgba(236, 236, 236, 0.658);
}
.header, .header .container{
    height: 65px;
    z-index: 100;
}
.header .flipkart-logo{
    width: 100px;
}
.header .flipkart-logo img{
    width: 100%;
}
.header .flipkart-search{
    width: 60%;
    background-color: #f0f5ff;
    border-radius: 8px;
}
.header .flipkart-search .ri-search-line{
    padding: 0px 10px;
    margin-top: 3px;
    font-size: 18px;
    color: gray;
}
.header .flipkart-search input{
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    font-size: 17px;
    background-color: transparent;
}
.header button{
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-family: 'poppins';
    & i{
        color: black;
    }
    & a{
        text-decoration: none;
        color: black;
    }
}
.header .login-button button:hover a{
    color: white;
}
.header .login-button button:hover .user{
    color: white;
}
.category{
    width: 83%;
    background-color: white;
    margin: 8px auto;
    padding: 10px 0px;
}
.category .item{
    width: 70%;
    margin: auto;
    padding: 0%;
    & a{
        text-decoration: none;
        color: black;
        & h6{
            margin-top: 8px;
            margin-bottom: 0px;
        }
    }
}
.category .item a:hover{
    color: rgba(0, 0, 255, 0.842);
}
.slider, .slider-container, .live-deal, .live-deal-2, .deal-slider{
    width: 83%;
    margin: 16px auto;
    position: relative;
}
.slider-container .phone-slider,
.deal-slider .topDeal-slider{
    padding: 20px 15px;
    background-color: white;
    overflow: hidden;
    position: relative;
}
.slider .image-slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 14px;
    height: 80px;
    background-color: white;
    color: gray;
    border: none;
    z-index: 1;
}
.slider .image-slider .prev{
    left: 0px;
    border-radius: 0px 5px 5px 0px;
}
.slider .image-slider .next{
    right: 0px;
    border-radius: 5px 0px 0px 5px;
}
.slider .image-slider .dots-container{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    & .dots{
        display: inline-block;
        height: 9px;
        width: 9px;
        background-color: gray;
        margin: 1px;
        border-radius: 50%;
    }
}
.slider .image-slider .dots-container .dots.active{
    background-color: white;
    transition: all 0.5s;
}
.slider .image-slider .slides{
    display: flex;
    overflow: hidden;
}
.slider .image-slider .slides img{
    transition: 1s all;
    background-color: red;
}
.slider-container picture img{
    width: 16em;
}
.slider-container .phone-title i,
.deal-slider .topDeal-title i{
    background-color: #2a55e5;
    color: white;
    text-align: center;
    padding: 4px 7px;
    border-radius: 50%;
}
.slider-container #phone-slider-container,
.deal-slider #topDeal-slider-container{
    gap: 15px;
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
}
.slider-container #phone-slider-container #phoneCard,
.deal-slider #topDeal-slider-container #tdCard{
    padding: 5px;
}
.slider-container #phone-slider-container #phoneCard #image,
.deal-slider #topDeal-slider-container #tdCard #image{
    width: 180px;
    overflow: hidden;
    & img{
        &:hover{
            transform: scale(1.02);
        }
    }
}
.slider-container #phone-slider-container #phoneCard #image img,
.deal-slider #topDeal-slider-container #tdCard #image img{
    margin: auto;
    display: block;
}
.slider-container .phone-slider button,
.deal-slider .topDeal-slider button{
    position: absolute;
    background-color: white;
    border: none;
    padding: 0px 14px;
    height: 80px;
    top: 50%;
    z-index: 4;
}
.slider-container .phone-slider #prev,
.deal-slider .topDeal-slider #tdPrev{
    left: 0%;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}
.slider-container .phone-slider #next,
.deal-slider .topDeal-slider #tdNext{
    right: 0%;
    border-radius: 5px 0px 0px 5px;
    box-shadow: 0px 0px 3px 0px rgb(204, 204, 204);
}
.live-deal, .live-deal-2{
    row-gap: 20px;
    column-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}